html{
    text-align: center;
    background: linear-gradient(to bottom, rgb(19, 81, 205), white);
    height: 100%;
}

.container1 
{
    background-color:white;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 8%;
    height: 200px;
}

.container2
{
    background-color: white;
    border-radius: 10px;
    height: 90px;
    color: rgb(19, 81, 205);
    margin-top: 20px;
    padding-top: 1px;
}

.container1 , .container2
{ 
    align-self: center;
    margin-left: 35%;
    margin-right: 35%;
}

.title
{
    background-color:blue ;
    color: white;
    margin-top: 0px;
    padding: 6px;
    font-size: 20px;
}

#input
{
    margin: 1%;
    width:300px;
    padding: 1.2%;
}

#bttn1
{
    margin-right:40px;
    background-color: blue;
}

#bttn2
{
    background-color: red;
}

#bttn1,#bttn2
{
    color: white;
    border-radius: 4px;
}

#bttn3
{
    border-radius: 20px;
    border-color: white;
    color: rgb(208, 25, 25);

}

.buttonsdiv
{
    margin-top: 10px;
}

